*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
#contacto {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom,#fcfefb, #6bb329);
}
.header {
    display: flex;
    justify-content: space-around;
    height: 10vh;
    background-color: #fcfefb;
}

.main{
    height: 80vh;
    background-image: linear-gradient(to bottom,#fcfefb, #6bb329);
    text-align: center;   
}
.propiedades {
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
}
.separacion {
    padding-right: 3em;
    padding-left: 3em;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: #6bb329;
    height: 10vh;
    font-family: 'Passions Conflict', cursive;
}
.text-center {
   font-size: 2em; 
}
#instagram {
    list-style: none;
    text-decoration: none;
    color:#D600BE ;
    font-family: 'Pacifico', cursive;
}
#facebook {
    list-style: none;
    text-decoration: none;
    color: #1877F2;
    font-family: 'Pacifico', cursive;
}  
nav ul li{
    display: inline-block;
}
nav ul li a{
    list-style: none;
    text-decoration: none;
    color: #6BB329;
    font-size: 1.5em; 
    font-family: 'Pacifico', cursive;
}
