

nav{
	ul {
	   	li {
	   	    list-style: none; 
		    text-decoration: none;
	   		    a {
	   		 
				
				    color: #6BB329 ;
				    font-size: 1.5em ;
				    font-family: 'Pacifico', cursive;    
	   		}
         
	   	}
		
	}
	
	
} 