*{
    padding: 0%;
    margin: 0%;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: #485F0E;
}
.nav{
    color: aliceblue;
    text-decoration-style: none;
}
main{
    background-image: url(./../imagenes/foto_casa_familia.jpg);
    background-attachment: fixed;
}
footer{
    background-color: #485F0E;
}
main h1{
    text-align: center;
}